<div class="container">
  <div class="row extra">
    <div class="span8 offset2">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="index">Home</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="https://github.com/albertogg/twitterbot">github</a></li>
        </ul>
        <h3 class="muted">Flask-App</h3>
      </div> <!-- masthead -->
      <hr> <!-- little division line -->
    </div> <!-- span -->
  </div> <!-- row -->
</div> <!-- container -->
